.loginPage {
	background: #5c0632 !important;

}

.loginPage .pserator_or {
	position: relative !important;
	margin: 30px -3% !important;
	height: 40px !important;
}
.form_input[_ngcontent-c0]   input[type=submit][_ngcontent-c0]{

	font-size: 19px !important;
}
 .pserator_or:after {
	content: '';
	position: absolute !important;
	top: 20px !important;
	left: 0 !important;
	right: 0 !important;
    width: 100%;
	height: 1px !important;
	background: #AAA !important;
	z-index: 1 !important;
}
.loginPage .pserator_or h3 {
	position: absolute;
	left: 0;
	right: 0;
	width: 80px;
	height: 50px;
	margin: 0 auto;
	background: #5c0632;
	color: #AAA;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	z-index: 2;
	font-size: 17px;

}
.loginPage  .crt_account a {
cursor: pointer !important;
 padding:8px !important;
}

// page-login {
// 	.active {
//
// 	  visibility: hidden;
// 	}
//
// 	$loading-md-background:#fafafa;
// 	$loading-md-border-radius :2px;
// 	$loading-md-box-shadow : 0 16px 20px;
// 	}
