page-all-groups {
  ion-fab[bottom][edge] {
    bottom: 16px !important;
    right: 22px !important;
  }

  button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
      position: absolute;
      top: -8px;
      right: 55px;
      color: gray;
      background-color: white;
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
      box-shadow: 1px 1px 0 #959595;
      font-weight: bold;
    }
  }

  .fab {
    contain: layout !important;
  }

  .fab-md {
    background-color: #5c0632;
  }

  button[ion-fab] {
    background-color: #5c0632 !important;
  }

  .header-icons {
    float: right;
    margin: 30px -6px 30px 30px !important;
  }

  .header-icons ion-icon {
    width: 48px;
    margin-top: 6px;
    font-size: 28px;
  }

  .header-search {
    width: 85%;
    float: left;
    margin-top: 21px;
  }

  ion-icon {
    color: white !important;
    //width : 33px  ;
  }

  .searchbar-md .searchbar-input {
    background-color: #5c0632 !important;
    color: white !important;
  }

  ion-header {
    background-color: #5c0632 !important;
  }

  .icon icon-md ion-md-search {
    width: 30px !important;
  }

  .searchbar-input-container {
    margin-top: 18px;
    margin-left: 63px;
  }

  .container {
    width: 100% !important;
  }

  .toolbar-title-md {
    font-size: 1.5rem !important;
  }
  .contact_item {
     padding: 0px 0px;

  }
  .contact_img {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}
