<!--
  Generated template for the ChatHandlerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div class="dropdown" style="float: right; margin-right: 20px; margin-top: 12px;">

      <ion-icon class="dropdown-toggle" data-toggle="dropdown" name="more" style="color:#fff"></ion-icon>

      <ul class="dropdown-menu dropdown-right" style="margin-top: 19px !important;">
        <li><a href="#" (click)="view_profile()" style="padding:7px 20px">{{'view-profile' | translate}} </a></li>
        <li><a href="#" (click)="Clear_Conversation()" style="padding:7px 20px">{{'clear-conversation' | translate}}</a></li>
        <li><a href="#" (click)="Report_Conversation()" style="padding:7px 20px">{{'report-conversation' | translate}}</a></li>
        <li *ngIf="is_blocked==false"><a href="#" (click)="Block(currentUserID)" style="padding:7px 20px">{{'block' | translate}}</a></li>
        <li *ngIf="is_blocked==true"><a href="#" (click)="unBlock(currentUserID)" style="padding:7px 20px">{{'unblock' | translate}}</a></li>
      </ul>
    </div>
    <div>
      <ion-title>
        <img [src]="remoteavatar" width="25" height="25" style="margin-right:5px;float:left;" alt="">
        <div style="float:left;text-align:left;">
          <span style="font-size: 14px;position: relative;top: -6px;">{{title}}</span>
          <!-- <h5 *ngIf="settings[0].last_seen_status == '1' || settings[0].last_seen_status == null" style="color: #ededed;font-size: 10px;position: relative;top: -21px;">{{lastonline}}</h5> -->
        </div>

      </ion-title>
    </div>


    <div class="headerico" style="background:none;box-shadow:none;"></div>
    <div>
      <ion-icon class="headerico" name="ios-videocam" *ngIf="is_blocked==false" (click)="video()" style="margin-left: -10px;"></ion-icon>
    </div>
    <div>
      <ion-icon class="headerico" name="ios-call" *ngIf="is_blocked==false" (click)="call()"></ion-icon>
    </div>
  </ion-navbar>
</ion-header>


<ion-content>
  <main class="page" #scrollMe [scrollTop]="scrollMe.scrollHeight" style='overflow:scroll;overflow-x:hidden;max-height:200px;'>


    <div class="rec-btn">
      <div>
        <div style="text-align: center; display: table; margin: auto; color: #fff;">03:13</div>
        <button class="rec" style="text-align: center; display: table; margin: 20px auto 30px;"></button>
        <div style="margin-top:15px;width:100%;display:flex;justify-content:center;">
          <a class="btn btn-danger  remove-class" href="#" (click)="remove()" style="padding: 4px 8px;margin: 0 5px;">{{'cancel' | translate}}</a>
          <a class="btn btn-theme  send-class " (click)="sendaudio()" href="#" style="padding: 4px 8px;margin: 0 5px;">{{'send' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="chat_room">

      <div class="chat_room_body">
        <div class="container">
          <div *ngFor="let p of msgs" (click)="d(p)">
            <div class="sender_msg" *ngIf="p.from_me == false">
              <div class="msg_box sender" *ngIf="p.image!='' && p.text==''">
                <h4>{{title}}
									</h4>
                <img [src]="p.image" style=" width: 500px;height: 200px;">
                <time>{{p.time}}</time>
              </div>
              <div class="msg_box sender" *ngIf="p.text!='' && p.image==''">
                <h4>{{title}}</h4>
                <p>{{p.text}}</p>
                <time>{{p.time}}</time>
              </div>
              <div class="msg_box reciever" *ngIf="p.avatar!='' && p.image=='' && p.text==''">
                <h4>{{'you' | translate}}</h4>
                <a href="{{p.avatar}}"> {{p.avatar}}</a>
                <time>{{p.time}}</time>
              </div>
            </div>
            <div class="reciever_msg" *ngIf="p.from_me == true">
              <div class="msg_box reciever" *ngIf="p.image!='' && p.text==''">
                <h4>{{'you' | translate}}</h4>
                <img [src]="p.image" style="width: 500px;height: 200px;">
                <time>{{p.time}}</time>
              </div>
              <div class="msg_box reciever" *ngIf="p.text!='' && p.image==''">
                <h4>{{'you' | translate}}</h4>
                <p>{{p.text}}</p>
                <time>{{p.time}}</time>
              </div>
              <div class="msg_box reciever" *ngIf="p.avatar!='' && p.image=='' && p.text==''">
                <h4>{{'you' | translate}}</h4>
                <a href="{{p.avatar}}"> {{p.avatar}}</a>
                <time>{{p.time}}</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <ion-footer>


    <div class="message-box" *ngIf='is_blocked == false || !is_blocked'>

      <form >
        <div class="container chat-message-box">
          <div class="dropdown">
            <ul class="dropdown-menu dropdown-menu-right">
              <li (click)="handWriting()"><a href="#"><img style="width:19px;height:19px;"  src="./assets/images/svg/pencil-writing-tool.svg"/>  {{'handwrite-a-message' | translate}}</a></li>
            </ul>
          </div>
          <div class="toggle-icons" style="justify-content:space-around!important;padding-right:10px;">
            <a (click)="pickimg()" href="#"><img style="width:19px;height:19px;"  src="./assets/images/svg/006-image.svg"/></a>
            <a href="#" (click)="selectfile()"><img style="width:19px;height:19px;"  src="./assets/images/svg/005-video.svg"/></a>
            <!-- <img name="s" (click)="toggled = !toggled" style="width:19px;height:19px;" [(emojiPickerIf)]="toggled" (emojiPickerSelect)="handleSelection($event)" src="./assets/images/svg/001-happiness.svg" /> -->

            <a href="#" (click)="location()"><img style="width:19px;height:19px;"  src="./assets/images/svg/004-placeholder.svg"/></a>
            <a href="#"><img style="width:19px;height:19px;"  class="ion-more" src="./assets/images/svg/more.svg"/></a>
          </div>
          <div class="type-message">
            <a href="#" (click)="dropdown()" class="toggle-arrow">
							<img style="width:19px;height:19px;margin-left:7px;margin-top:7px;" src="./assets/images/svg/sort-up.svg"/>
							<img style="width:19px;height:19px;margin-left:7px;margin-top:7px;" src="./assets/images/svg/sort-down.svg"/>
						</a>
            <input type="text" name="msg" placeholder="Type Message......" (keypress)="onfocus()" (focusout)="focusout()" [(ngModel)]="emojitext"  name="email">
            <a href="#" (click)="recordPage()"><i class="ion-ios-mic"></i></a>
            <div class="button"><button (click)="send()" ><ion-icon name="md-send"></ion-icon></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="message-box" *ngIf='is_blocked == true'>
      <p style="text-align:center;color:#5c0632 ;font-weight:600">Sorry you can't send messages !!</p>
    </div>

  </ion-footer>

</ion-content>
