page-chat-settings {
  .toolbar-title-md {
    font-size: 1.5rem !important;
  }
  .toggle-md.toggle-checked .toggle-icon {
    background-color: #f3a6cd !important;
  }

  .toggle-md.toggle-checked .toggle-inner {
    background-color: #5c0632 !important;
  }
}
