<!--
  Generated template for the ChatSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'chat-settings' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <section class="bg_grey">
    <form class="list-group list-group-theme">

      <a href="#" class="list-group-item">
        <div>
          <ion-toggle [(ngModel)]="settings['last_seen_status']" value="1" id="radio_1_1" (ionChange)="change_value('last_seen',settings['last_seen_status'])" [ngModelOptions]="{ standalone :true}" class="pull-right"></ion-toggle>
          <!-- <input type="checkbox" id="check_2" class="check_2" value="1" *ngIf="settings['notify-site-mention-you'] == '1'" checked>
                <input type="checkbox" id="check_2" class="check_2" value="0" *ngIf="settings['notify-site-mention-you'] == '0'"> -->
          <label for="radio_1_2" class="pull-left" style="margin-top:12px">{{'last-seen' | translate}}</label>
          <div class="clearfix"></div>
          <span class="clearfix"></span>
          <p class="list-group-item-text">By enabling last seen, the time and date you were last online will be displayed to others.</p>
        </div>
      </a>


      <a href="#" class="list-group-item">
        <div>
          <ion-toggle [(ngModel)]="settings['read_receipt_status']" (ionChange)="change_value('read_receipt',settings['read_receipt_status'])" id="radio_1_2" [ngModelOptions]="{ standalone :true}" value="2" class="pull-right"></ion-toggle>
          <!-- <input type="checkbox" id="check_2" class="check_2" value="1" *ngIf="settings['notify-site-mention-you'] == '1'" checked>
                  <input type="checkbox" id="check_2" class="check_2" value="0" *ngIf="settings['notify-site-mention-you'] == '0'"> -->
          <label for="radio_1_1" class="pull-left" style="margin-top:12px">Read receipt settings</label>
          <div class="clearfix"></div>
          <span class="clearfix"></span>
          <p class="list-group-item-text">By enabling read receipt you will see the time and date your messages are read.</p>
        </div>
      </a>

    </form>
  </section>
</ion-content>
