page-profile {
  .settings {
    margin-top: -37px !important;
  }

  .toolbar-background-md {
    background-color: #5c0632 !important;
  }

  .toolbar-title-md {
    color: white !important;
  }

  .account {
    max-width: 290px !important;
  }
}
