page-add-member {
  .container {
    width: 100% !important;
  }

  .contact_item {
    border-bottom: 0 !important;
  }

  .searchbar-md .searchbar-input {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14) !important;
  }

  .toolbar-title-md {
    font-size: 1.5rem !important;
  }
}
