page-broadcast {
  .user {
    border-bottom: 0 !important;
    padding-left: 45px !important;
  }

  .toolbar-title-md {
    font-size: 1.5rem !important;
  }

  .user .checkbox {
    left: 1px !important;
    top: 15px !important;
  }
}
