<!--
  Generated template for the GroupChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div class="dropdown" style="float: right; margin-right: 20px; margin-top: 12px;">

      <ion-icon class="dropdown-toggle" data-toggle="dropdown" name="more" style="color:#fff"></ion-icon>
      <ul class="dropdown-menu dropdown-right" style="margin-top: 19px !important;">
        <li><a href="#" (click)="goToGroupInfo()" style="padding:7px 20px">{{'view-group-info' | translate}}</a></li>
        <li><a href="#" (click)="Clear_Conversation()" style="padding:7px 20px">{{'clear-conversation' | translate}}</a></li>
        <li><a href="#" (click)="Report_Conversation()" style="padding:7px 20px">{{'report-conversation' | translate}}</a></li>
        <!-- <li  *ngIf="is_blocked==false"><a href="#"  (click)="Block(currentUserID)" style="padding:7px 20px">Block</a></li>
					  <li *ngIf="is_blocked==true"><a href="#"  (click)="unBlock(currentUserID)" style="padding:7px 20px">Unblock</a></li> -->
      </ul>
    </div>
    <div>
      <ion-title>
        <div style="float:left;text-align:left;">
          <div style="margin-right:5px;float:left;width:25px;height:25px;"> </div>
          <span (click)="goToGroupInfo()" style="font-size:16px;text-align:center;position:relative;">{{group.title}}</span>
        </div>
      </ion-title>
    </div>
    <ion-icon class="headerico" name="ios-call" (click)="video()" style="margin-left: -10px;background-color:#fff"></ion-icon>
    <ion-icon class="headerico" name="ios-videocam" (click)="video()" style="background-color:#fff"></ion-icon>

    <!-- <h5 style="color:gray;margin-top:11px;margin-left:30px">
      {{group.time}}
    </h5> -->

  </ion-navbar>

</ion-header>


<ion-content>
  <main class="page pt-70 bg_white" #scrollMe [scrollTop]="scrollMe.scrollHeight" style='overflow:scroll;overflow-x:hidden;max-height:200px;'>
    <div class="rec-btn">
      <div>
        <div style="text-align: center; display: table; margin: auto; color: #fff;">03:13</div>
        <button class="rec" style="text-align: center; display: table; margin: 20px auto 30px;"></button>
        <div style="margin-top:15px;width:100%;display:flex;justify-content:center;">
          <a class="btn btn-danger  remove-class" href="#" (click)="remove()" style="padding: 4px 8px;margin: 0 5px;">{{'cancel' | translate}}</a>
          <a class="btn btn-theme  send-class " (click)="sendaudio()" href="#" style="padding: 4px 8px;margin: 0 5px;">{{'send' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="chat_room">

      <div class="chat_room_body">
        <div class="container">
          <!-- <section class="chat_body"> -->
          <!-- Messages -->
          <div class="msgs">
            <!-- <p>ddddd{{y}}</p> -->

            <div *ngFor="let p of chats">
              <div class="sender_msg" *ngIf="p.from_me == false">
                <div class="msg_box sender" *ngIf="p.image!='' && p.text==''">
                  <h4>{{title}}
                    </h4>
                  <img [src]="p.image" style=" width: 500px;height: 200px;">
                  <time>{{p.time}}</time>

                </div>

                <div class="msg_box sender" *ngIf="p.text!='' && p.image==''">
                  <h4>{{title}}</h4>
                  <p>{{p.text}}</p>
                  <time>{{p.time}}</time>

                </div>
                <div class="msg_box reciever" *ngIf="p.avatar!='' && p.image=='' && p.text==''">
                  <h4>{{'you' | translate}}</h4>
                  <!-- <p>{{p.text}}</p> -->
                  <a href="{{p.avatar}}"> {{p.avatar}}</a>
                  <!--<i class="ion-android-checkbox-outline"></i>-->
                  <time>{{p.time}}</time>
                </div>
              </div>

              <div class="reciever_msg" *ngIf="p.from_me == true">
                <div class="msg_box reciever" *ngIf="p.image!='' && p.text==''">
                  <h4>{{'you' | translate}}</h4>
                  <img [src]="p.image" style="width: 500px;height: 200px;">
                  <time>{{p.time}}</time>

                </div>

                <div class="msg_box reciever" *ngIf="p.text!='' && p.image==''">
                  <h4>{{'you' | translate}}</h4>
                  <p>{{p.text}}</p>

                  <time>{{p.time}}</time>

                </div>
                <div class="msg_box reciever" *ngIf="p.avatar!='' && p.image=='' && p.text==''">
                  <h4>{{'you' | translate}}</h4>

                  <a href="{{p.avatar}}"> {{p.avatar}}</a>
                  <time>{{p.time}}</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <ion-footer>

    <div class="message-box message-box-2">
      <form>
        <div class="container chat-message-box">
          <ul class="toggle-icons animated bounceIn">
            <li>
              <a (click)="recordPage()" href="#">
									<i class="ion-ios-mic"></i>
									<span>Audio</span>
								</a>
            </li>
            <li>
              <a (click)="chooseFile()" href="#">
									<i class="ion-videocamera"></i>
									<span>Video</span>
								</a>
            </li>
            <li>
              <a (click)="chooseFile()" href="#">
									<i class="ion-android-document"></i>
									<span>Document</span>
								</a>
            </li>
            <li>
              <a (click)="location()" href="#">
									<i class="ion-location"></i>
									<span>Location</span>
								</a>
            </li>
            <li>
              <a (click)="openGallery()" href="#">
									<i class="ion-image"></i>
									<span>Gallery</span>
								</a>
            </li>
            <li>
              <a (click)="handWriting()" href="#">
									<i class="ion-compose"></i>
									<span>Handwriting</span>
								</a>
            </li>
          </ul>
          <div class="type-message">
            <a (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" (emojiPickerSelect)="handleSelection($event)" href="#"><i class="ion-android-happy"></i></a>
            <input type="text" class="form-control" name="msg" placeholder="Type Message......"  [(ngModel)]="emojitext"  name="email">
            <a (click)="openCamera()" href="#"><i class="ion-camera"></i></a>
            <a (click)="openMore()" href="#"><i class="ion-more"></i></a>
            <a (click)="send()" href="#"><i class="ion-android-send"></i></a>
          </div>
        </div>
      </form>
    </div>

    <!-- <div class="message-box message-box-2" *ngIf='is_blocked == true'>
      <p style="text-align:center;color:#5c0632 ;font-weight:600">Sorry you can't send messages !!</p>
    </div> -->

  </ion-footer>
</ion-content>
